VITE_SUPABASE_URL=https://dkfissjbxaevmxcqvpai.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRrZmlzc2pieGFldm14Y3F2cGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwNzQ3NjIsImV4cCI6MjA3ODY1MDc2Mn0.jvhYLRPvgkOa-Yx4So9-b3MfouLoRl9f-iHgkldxEcI
VITE_GOOGLE_CLIENT_ID=132351690242-pu2s0jq83q1oodg
VITE_API_CRUD_URL=http://localhost:3001
VITE_API_BUSINESS_URL=http://localhost:3002
